<div class="jumbotron">
    <h1>
        <div style="color: var(--color-5);">
            All
        </div>
        <div style="color: var(--color-4);">
            Users
        </div>
    </h1>
</div>
<%= render 'user_list' %>
