<div class="jumbotron">
    <h1>
        <div style="color: var(--color-5);">
            <% if @user.name.last != 's' %>
                <%= @user.name %>'s
            <% else %>
                <%= @user.name %>'
            <% end %>
        </div>
        <div style="color: var(--color-4);">
            Followers
        </div>
    </h1>
</div>
<%= render 'user_list' %>
