/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

:root {
    --blue-1: #E4F1F6;
    --blue-2: #67AFCB;
    --blue-3: #347B98;
    --blue-4: #1A3E4C;
    --blue-5: #092834;
}

/* Navbar Styling */
nav.navbar.navbar-default {
    margin-bottom: 0;
    background-color: var(--blue-3);
    border: none;
    border-radius: 0;
}

.navbar-default .navbar-brand {
    color: var(--blue-1);
}

.navbar-default .navbar-brand:hover {
    color: lightgray;
}

.navbar-default .navbar-nav > li > a {
    color: var(--blue-1);
}

.navbar-default .navbar-nav > li > a:hover {
    color: lightgray;
}

a:visited {
    color: var(--blue-1);
}

/* Jumbotron Styling */
.jumbotron {
    background-color: var(--blue-2);
    color: var(--blue-1);
}

.jumbotron h1 {
    color: var(--blue-1);
    padding: 15px 15px 15px 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}
