/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

:root {
    --color-1: #F7EDD4;
    --color-2: #FCBA12;
    --color-3: #448D76;
    --color-4: #AE0D7A;
    --color-5: #093426;
}

/* Body Styling */
body {
    background-color: var(--color-1);
}

/* Navbar Styling */
nav.navbar.navbar-light {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    border-radius: 0;
    background-color: var(--color-3);
    color: var(--color-5);
}

nav.navbar.navbar-light a.navbar-brand {
    padding-left: 8px;
    padding-right: 8px;
    color: var(--color-5);
    background-color: var(--color-2);
    border: 1px solid var(--color-5);
    border-radius: 5px;
}

nav.navbar.navbar-light a.navbar-brand:hover {
    padding-left: 8px;
    padding-right: 8px;
    color: var(--color-5);
    background-color: var(--color-1);
    border: 1px solid var(--color-5);
    border-radius: 5px;
}

nav.navbar.navbar-light .right {
    margin-left: auto;
    padding: 10px;
}

nav.navbar.navbar-light .right * {
    margin-left: 5px;
    margin-right: 5px;
}

nav.navbar.navbar-light .left {
    margin-right: auto;
    margin-left: 10px;
}

a.navbar-brand {
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5px;
}

.form-control::placeholder {
    color: var(--color-5);
}

input.form-control.mr-sm-2 {
    border: 1px solid var(--color-5);
}

a {
    color: var(--color-5);
}
a:visited {
    color: var(--color-5);
}

/* Jumbotron Styling */
.jumbotron {
    background-color: var(--color-2);
    color: var(--color-1);
}

.jumbotron h1 {
    color: var(--color-1);
    padding: 15px 15px 15px 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Panel Styling */
.panel-default > .panel-heading {
    background-color: var(--color-3);
}

.panel-body {
    background-color: var(--color-2);
}
